---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Pagination from "../components/Pagination.astro";
import PostPreview from "../components/PostPreview.astro";

const allPosts = await Astro.glob("./blog/*.md");

allPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);

const featured = allPosts.shift();
---

<Layout title="Massively by HTML5 UP - Astro port">
  <!-- Intro -->
  <div id="intro">
    <h1>
      This is<br />
      Massively
    </h1>
    <p>
      A free, fully responsive HTML5 + CSS3 site template designed by <a
        href="https://twitter.com/ajlkn">@ajlkn</a
      > for <a href="https://html5up.net">HTML5 UP</a><br />
      and released for free under the <a href="https://html5up.net/license"
        >Creative Commons license</a
      >. <br /> Remixed for <a href="https://astro.build">Astro</a> by <a
        href="https://twitter.com/d_bozhinovski">@d_bozhinovski</a
      >
    </p>
    <ul class="actions">
      <li>
        <a href="#header" class="button icon solid solo fa-arrow-down scrolly"
          >Continue</a
        >
      </li>
    </ul>
  </div>

  <!-- Header -->
  <header id="header">
    <a href="index.html" class="logo">Massively</a>
  </header>

  <Navigation />

  <!-- Main -->
  <div id="main">
    <!-- Featured Post -->
    <PostPreview
      title={featured?.frontmatter.title || ""}
      image={featured?.frontmatter.image || ""}
      date={new Date(featured?.frontmatter.pubDate)}
      summary={featured?.frontmatter.summary}
      link={featured?.url || ""}
      featured
    />

    <!-- Posts -->
    <section class="posts">
      {
        allPosts.map((p) => (
          <PostPreview
            title={p.frontmatter.title}
            image={p.frontmatter.image}
            date={new Date(p.frontmatter.pubDate)}
            summary={p.frontmatter.summary}
            link={p.url || ""}
          />
        ))
      }
    </section>

    <Pagination />
  </div>
</Layout>
