---
import { format } from 'date-fns';

export interface Props {
  title: string;
  image?: string;
  date: Date;
  summary: string;
  alt?: string;
  contents: string;
}

const { title, image, date, summary, alt, contents } = Astro.props;
---

<section class="post">
  <header class="major">
    <span class="date">
      {format(date, 'yyyy-MM-dd')}
    </span>
    <h1 set:html={title}></h1>
    <p set:html={summary}></p>
  </header>
  <div class="image main">
    <img src={image} width={896} height={436} alt={alt || ''} />
  </div>
  <Fragment set:html={contents} />
</section>
