---
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';

import IntroHeader from 'src/components/IntroHeader.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

import '../styles/sass/main.scss';
import { SITE } from 'src/config';

export interface Props {
  title: string;
  intro?: boolean;
}

const { title, intro } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900&display=swap"
    />
    <title>{title}</title>
  </head>
  <body class="is-preload">
    <main>
      <!-- Wrapper -->
      <div id="wrapper" class="fade-in">
        <IntroHeader intro={intro} />
        <Navigation />
        <slot />
        <Footer />
        <div id="copyright">
          <ul>
            <li>&copy; {SITE.title}</li><li>
              Design: <a href="https://html5up.net">HTML5 UP</a>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
